.sobre_button {
    padding: 10px 50px;
    background-image: linear-gradient(to right, rgb(6, 6, 165), rgb(137, 4, 4));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  
}

.sobre_button:hover {
    background-image: linear-gradient(to right, rgb(81, 81, 235), rgb(103, 4, 4));
}

@media (max-width: 800px) and (min-width: 700px){
    .sobre_button {
        padding: 10px 50px;
        background-image: linear-gradient(to right, rgb(6, 6, 165), rgb(137, 4, 4));
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;  
        margin-left: 120px;
    }
}

@media (max-width: 700px) and (min-width: 600px){
    .sobre_button {
        margin-left: 100px;
    }
}

@media (max-width: 600px) and (min-width: 500px){
    .sobre_button {
        margin-left: 80px;
    }
}

@media (max-width: 500px) and (min-width: 400px){
    .sobre_button {
        padding: 8px 20px;
        background-image: linear-gradient(to right, rgb(6, 6, 165), rgb(137, 4, 4));
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;  
        margin-left: 70px;
    }
}

@media (max-width: 400px) and (min-width: 320px){
    .sobre_button {
        padding: 8px 20px;
        background-image: linear-gradient(to right, rgb(6, 6, 165), rgb(137, 4, 4));
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;  
        margin-left: 50px;
    }
}
