.footer{
    background-color: rgb(27, 1, 51);
    color: white;
    padding: 2em;
    text-align: center;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 30px;
    margin-bottom: 20px;
}

.social_list li{
    margin: 0 10px;
}


.social_list li:hover{
    color: black;
    transition: 2s;
}


.social_list li svg{
    cursor: pointer;
    color: white;
}

.paragrafo{
    color: white;
}